<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="signup()" [formGroup]="signupInfo">

    <ion-item>
      <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
      <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
    </ion-item>

    <div class="errors" *ngIf="(firstName.touched && lastName.touched) 
    && (lastName.errors || firstName.errors)" class="errors">
      <span *ngIf="firstName.errors?.required">Fullname is required</span>
      <span *ngIf="lastName.errors?.required">Fullname is required</span>
    </div>

    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <div class="errors" *ngIf="(email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <div class="errors" *ngIf="(password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password must be minimum 6 characters</span>
    </div>

    <ion-button color="secondary" type="submit" expand="block" [disabled]="!signupInfo.valid">Sign Up</ion-button>
  </form>
</ion-content>