<ion-header>
  <ion-toolbar color="primary">
    <ion-title>trackSummary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" type="button" expand="block" (click)="saveTrack()">Save Activity</ion-button>
  <ion-button color="danger" type="button" expand="block" [routerLink]="['/tabs/map-tracking']">Discard Activity</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Distance</ion-card-subtitle>
      <ion-card-title>{{ totalDistance | number : '1.2-2'}}m</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Average Speed:
      {{ averageSpeed | number : '1.2-2'}}m/s
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total Time</ion-card-subtitle>
      <ion-card-title>{{ times.timeDiff }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Start time: {{ times.startTime.toString().split(' ').slice(0, 5).join(' ') }}
      <br />
      Finish time: {{ times.finishTime.toString().split(' ').slice(0, 5).join(' ') }}
    </ion-card-content>
  </ion-card>

  <div #map id="map"></div>
</ion-content>