<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="updateDetails()"><ion-icon name="checkmark-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateDetails()" [formGroup]="userDetails" id="userDetails">

    <ion-item>
      <ion-label>First Name </ion-label>
      <ion-input class="right" type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name </ion-label>
      <ion-input class="right" type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Weekly Distance Goal </ion-label>
      <ion-input class="right"  type="number" min="0" formControlName="distanceGoal"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Weekly Activities Goal </ion-label>
      <ion-input class="right" type="number" min="0" formControlName="activitiesGoal"></ion-input>
    </ion-item>
  </form>

  <ion-button class="bottom" type="button" (click)="logout()" expand="block">Log Out</ion-button>
</ion-content>
