<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tracking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>

  <ion-fab *ngIf="!isTracking" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="fab-button" color="danger" (click)="startTracking()">Start <br/> Tracking</ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="isTracking" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="fab-button" color="danger" (click)="stopTracking()">Stop <br/> Tracking</ion-fab-button>
  </ion-fab>

</ion-content>